<form action="/payment/create" method="POST">
  <div class="form-group">
    <label for="">Masukkan Asal Bank</label>
    <input type="text" class="form-control" id="asalBank" name="asalBank">
  </div>

  <div class="form-group">
    <label for="">Masukkan Nomor Rekening</label>
    <input type="number" class="form-control" id="noRek" name="noRek">
  </div>

    <div class="form-group">
    <label for="">Masukkan Nama Pengirim</label>
    <input type="text" class="form-control" id="namaPengirim" name="namaPengirim">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>