<form action="/facility/create"  enctype="multipart/form-data" method="POST" >
  <div class="form-group">
    <label for="exampleInputPassword1">Masukkan Ttile</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
    <div class="form-group flex">
    <label for="exampleInputPassword1">Masukkan Ttile</label>
    <input type="file" class="form-control" id="title" name="uploaded_file">
      <button type="submit" class="btn btn-primary">Validate</button>
  </div>

</form>