<form action="/category/create" method="POST" >
  <div class="form-group">
    <label for="exampleInputPassword1">Masukkan Nama</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>